#main {
    align-content: center;
    background-color: #eeeee4;
}

#title {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: #873e23;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#image {
    position: relative;
    margin-left: 200px;
}

#img-caption  {
    text-align: center;
    font-style: italic;
}

#tribute-info h3 {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#tribute-info p {
    margin: 5px 50px;
}

#tribute-link {
    text-align: center;
    padding-top: 20px;
}